*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font: 100px;

}

.Header{
    padding: 10px 30px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.body{
    padding-left: 20px;
}

.mid-part{
    min-height: 100vh;
    width: 100%;
    background-image: url(web/Main1.png);

    background-position: center;
    background-size: cover;
    position: relative;
    height: 20em;
    list-style: none;
    flex: 1;
    display: inline-block;
    padding: 8px 30px;
    text-align: right;
}

button{
    margin: auto;
    padding: 7%;
    width: 30%;
    border: 2px solid white;
    color: rgb(252, 246, 246);
    border-radius: 10px;
    background-size: cover;
    font-family: serif;
    font-style: italic;
    inline-size: auto;
    float: left;
    font-weight: bold;
}




button:hover{
    cursor:pointer;
    transform: scale(1.05);
    transition: 0.2s transform;
    border-radius: 10px;
}

.button-ti{
    margin: 20px;
    padding: 0px;
    width: 10%;
    background-color: black;
    border: 2px solid rgb(255, 255, 255);
    margin-left: 20px;
}

.button-ta{
    margin: 20px;
    padding: 0px;
    width: 10%;
    background-color: black;
    border: 2px solid white;
    margin-left: 20px;
}

.footer{
    color: white;
    letter-spacing: 0.3em;
    text-align: center;
    display: block;
}

.twi{
    margin-right: 5px;
    margin-left: 10px;
}

.fb{
    margin-right: 5px;
    margin-bottom: 20%;
}

.yt{
    margin-right: 5px;
}

h4{
    font-size: 150%;
    margin-bottom: 20px;
    border-bottom: 1px solid white;
    margin-left: 40%;
    margin-right: 40%;
}