*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Chakra Petch', sans-serif;
}


.logo{
    float: left;
    width: 10%;
    height: 10%;
    position: absolute;
}

nav > ul > li{
    float: right;
}

section{
    min-height: 100vh;
    width: 100%;
    background-image: url(web/Main2.png);
    background-position: center;
    background-size: cover;
    position: relative;
    list-style: none;
    flex: 1;
    display: inline-block;
    padding: 8px 30px;
    text-align: right;
}

section > article{
    margin: 25% 25% 25% 25%;
    background-color: antiquewhite;
    text-align: center;
}


footer, header{
    display: flex;
    background-color: black;
    justify-content: space-between;
}

footer > h4{
    border-bottom: 10px rebeccapurple;
    font-size: 150%;
    margin-bottom: 20px;
}

.mini_logo{
    
}


.container_con{
    color: aliceblue;
    border-left: 20px;
    text-align: center;
    width: 25%;
    font-size: 150%;
}


.container_op{
    color: aliceblue;
    border-left: 20px;
    text-align: center;
    width: 25%;
}

.container_map{
    background-color: blue;
    color: aliceblue;
    border-left: 20px;
    text-align: center;
    width: 25%;
}