*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Chakra Petch', sans-serif;
}

header{
    width: 100%;
    height: 100%;
    background-color: black;
}

nav{
    background-color: black;
}

nav > ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;

}

nav > ul > li{
    border-radius: 20px;
    width: 10%;
    height: 10%;
}

nav > ul > li:hover{
    cursor: pointer;

    
}

nav > ul > li > a{
    line-height: 100px;
    color: white;
    background-color: black;
    border-radius: 10px;

    height: 100%;
    width: 100%;
    display: block;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
    color: whitesmoke;
}



.logo{
    width: 10%;
    height: 10%;
    margin: 10px 10px 10px 10px;
}


.container_review{
    margin: 0 auto;
    
}





/*Sections*/




section{
     background-image: url(web/Main2.png);
    background-position: center;
    background-size: cover;
    position: relative;
    list-style: none;
    flex: 1;
    padding: 8px 30px;
    text-align: right;
}


section > article{
    margin: 15% 35% 15% 28%;
    background-color: antiquewhite;
    text-align: center;
}

section > article > a{
    color: black;
    font-style: none;
}



/*Foto Slider*/


section > .foto_slider{
    width: 800px;
    height: 600px;
    background-size: cover;

    border-radius: 20px;
    animation-name: fotoslider;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    border: 5px solid whitesmoke;
    color: azure;
    background-color: blanchedalmond;
}



@keyframes fotoslider {
    0%{
        opacity: 0;
        background-image: url(web/haram.png);
    }

    12.5%{
        opacity: 1;
        background-image: url(web/haram.png);
    }
    24%{
        opacity: 0;
        background-image: url(web/haram.png);
    }

    25%{
        opacity: 0;
        background-image: url(web/vibe2.png);
    }
    37.5%{
        opacity: 1;
        background-image: url(web/vibe2.png);
    }
    49%{
        opacity: 0;
        background-image: url(web/vibe2.png);
    }

    50%{
        opacity: 0;
        background-image: url(web/vibe1.png);
    }

    62.5%{
        opacity: 1;
        background-image: url(web/vibe1.png);
    }
    74%{
        opacity: 0;
        background-image: url(web/vibe1.png);
    }

    75%{
        opacity: 0;
        background-image: url(web/Main1.png);
    }
    87%{
        opacity: 1;
        background-image: url(web/Main1.png);
    }

    99%{
        opacity: 0;
        background-image: url(web/Main1.png);
    }

    100%{
        opacity: 1;
        background-image: url(web/game.JPG);
    }
}







/*Footer*/

footer{
    display: flex;
    background-color: black;
    justify-content: space-between;
}

footer > h4{
    border-bottom: 10px rebeccapurple;
    font-size: 150%;
    margin-bottom: 20px;
}






/*Containers footer*/

.container_con{
    color: aliceblue;
    border-left: 20px;
    text-align: center;
    width: 25%;
    margin: 30px 10px 10px 30px;
}

.container_con > h4{
    margin-bottom: 50px;
    border-bottom: 20px white;
    font-size: 150%;
}

.mini_logo{
    margin-top: 50px;
}


.container_op{
    color: aliceblue;
    border-left: 20px;
    text-align: center;
    width: 25%;
    margin: 20px 0px 20px 0px
}

.container_op > h4{
    margin-bottom: 20px;
    font-size: 150%;
}

.container_map{
    color: aliceblue;
    border-left: 20px;
    text-align: center;
    width: 40%;
    margin: 30px 10px 10px 30px;
}

.container_map > h4{
    margin-bottom: 20px;
    font-size: 150%;
}

.container_map > iframe{
    border-radius: 20px;
}